# macOS
.DS_Store

# Blobary artifacts
.blobary/

# Environment variables
.env

# Jetbrains
.idea/

# Visual Studio Code
.vscode/

# Editor backup files
*~

# Rust artifacts
/Cargo.lock
/rust-toolchain
/target

# Build outputs
/blobary
